.footer p,
.footer-links {
  padding: 15px 30px;
  color: #70757a;
  font-size: 15px;
  background-color: #f2f2f2;
  font-family: arial, sans-serif;
}
.footer p {
  border-bottom: 1px solid #dadce0;
}
.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-links > div {
  display: flex;
  gap: 20px;
}
